.Nav {
  padding: 8px;
}
.Nav ul {
  display: flex;
  gap: 32px;
  list-style: none;
}
.Nav ul li {
  cursor: pointer;
}

.overlay {
  padding: 16px 32px;
  border-radius: 6px;
  background: white;
  color: #242424;
}

.absolute {
  position: absolute;
}

.opacity-0 {
  opacity: 0;
}
.opacity-100 {
  opacity: 1;
}

.transition-all {
  --duration: 250ms;
  transition:
    opacity var(--duration) ease,
    left var(--duration) ease,
    width var(--duration) ease,
    height var(--duration) ease;
}

.-x-transform-24 {
  transform: translateX(-24px);
}
.x-transform-24 {
  transform: translateX(24px);
}
